<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mahcks.weatheralarm"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="WeatherAlarmOverview">
           	<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity><activity android:name="com.mahcks.weatheralarm.AlarmEditActivity" android:label="@string/app_name" android:configChanges="orientation|screenLayout|screenSize" android:screenOrientation="portrait">
        </activity>
        <activity android:name="AlarmRingActivity"
            	  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        
        <provider
      		android:name=".contentprovider.MyAlarmContentProvider"
      		android:authorities="com.mahcks.weatheralarm.contentprovider" >
   		</provider>
   		
        <receiver android:name="AlarmReceiver" >
            <intent-filter>
                <action android:name = "com.mahcks.alarmaction"></action>
            </intent-filter>
        </receiver>
        
    </application>
    
    

</manifest>
